#login-ui {

.background-radial-gradient {
    overflow: hidden;
}

.background-img {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.bg-glass {
    background-color: rgba(0, 0, 0, 0.4) !important;
    backdrop-filter: saturate(200%) blur(25px);
}

.container {
    padding: 20px;
}

.card {
    border-radius: 1rem;
}

.card-body {
    padding: 20px;
}

.form-outline {
    margin-bottom: 1.5rem;
}

.form-label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
    font-size: 1rem;
    color: var(--Tertiary);
}

.form-control {
    width: 100%;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #000000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control-lg {
    font-size: 1.25rem;
    padding: 1rem 1.5rem;
}

#login-ui .heading-bg {
    color: var(--secondary);
}

#login-ui p,
#login-ui .login-heading,
#login-ui .login-sign-h {
    color: var(--Tertiary);
}

.btn {
    color: var(--Tertiary);
    background-color: var(--secondary);
    padding: 0.75rem 1.25rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.btn:hover {
    background-color: var(--Tertiary);
}

.btn-s {
    color: #fff;
    background-color: var(--secondary);
    padding: 0.75rem 1.25rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border: 0.5px solid transparent;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.btn-s:hover {
    color: #fff;
    background-color: var(--Tertiary);
}

.text-primary {
    color: #007bff;
}

.text-primary:hover {
    color: #0056b3;
}

.fw-bold {
    font-weight: bold;
}

.opacity-70 {
    opacity: 0.7;
}

.me-2 {
    margin-right: 0.5rem;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.mb-5 {
    margin-bottom: 3rem;
}

.mb-lg-0 {
    margin-bottom: 0;
}

.position-absolute {
    position: absolute;
}

.shadow-5-strong {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
}

.text-white {
    color: var(--Tertiary);
}

/* CSS for small devices (max-width: 576px) */
@media (max-width: 576px) {
  

    .form-label {
        font-size: 0.875rem;
    }

    .form-control {
        padding: 0.5rem 0.75rem;
        font-size: 0.875rem;
    }

    .btn, .btn-s {
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }

    .card-body {
        padding: 10px;
    }

    .container {
        padding: 10px;
    }

    .heading-bg {
        font-size: 1.5rem;
    }

    .login-heading {
        font-size: 1.25rem;
    }

    .login-sign-h {
        font-size: 1rem;
    }
}

/* CSS for medium devices (min-width: 577px) and (max-width: 768px) */
@media (min-width: 577px) and (max-width: 768px) {
   
    .form-label {
        font-size: 0.875rem;
    }

    .form-control {
        padding: 0.5rem 0.75rem;
        font-size: 0.875rem;
    }

    .btn, .btn-s {
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }

    .card-body {
        padding: 10px;
    }

    .container {
        padding: 20px;
    }

    .heading-bg {
        font-size: 1.5rem;
    }

    .login-heading {
        font-size: 1.25rem;
    }

    .login-sign-h {
        font-size: 1rem;
    }
}
}